.app-container{
    background: radial-gradient(204.28% 82.4% at 54.75% 43.9%, #41505C 0%, #0D1014 100%);
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

.bg-container{
    position: absolute;
    right: -480px;
    top: -45px;
    background-image: url('./assets/APEX.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 610px;
    height: 1200px;
}

.verticleText {
    writing-mode: vertical-lr;
    display: inline-block;
    rotate: 180deg;
  }